[Desktop Entry]
Name=wayland-screenshot
Name[ru]=Снимок экрана Wayland
Name[be]=Здымак экрана Wayland
Name[br]=Skeudenn ekran Wayland
Name[ja]=ウェイランドスクリーンショット
Name[de]=Wayland-Screenshot
Name[es]=Captura de pantalla de Wayland
Name[fr]=Capture d'écran Wayland
Name[it]=Screenshot Wayland
Name[nl]=Wayland-schermafbeelding
Name[pt]=Captura de tela Wayland
Name[zh_CN]=Wayland 截屏
Comment=Take screenshot on wayland
Comment[ru]=Сделать снимок экрана на Wayland
Comment[be]=Зрабіць здымак экрана на Wayland
Comment[br]=Ober ur skeudenn ekran war Wayland
Comment[ja]=ウェイランドでスクリーンショットを撮る
Comment[de]=Screenshot auf Wayland machen
Comment[es]=Hacer una captura de pantalla en Wayland
Comment[fr]=Prendre une capture d'écran sur Wayland
Comment[it]=Effettuare uno screenshot su Wayland
Comment[nl]=Schermafbeelding maken op Wayland
Comment[pt]=Fazer captura de tela no Wayland
Comment[zh_CN]=在 Wayland 上截屏
Exec=wayland-screenshot
Terminal=false
Type=Application
Encoding=UTF-8
Icon=applets-screenshooter
Categories=System;TerminalEmulator;
Keywords=screenshot;wayland;
Keywords[ru]=снимок экрана;wayland;
Keywords[be]=здымак экрана;wayland;
Keywords[br]=skeudenn ekran;wayland;
Keywords[ja]=スクリーンショット;ウェイランド;
Keywords[de]=Screenshot;Wayland;
Keywords[es]=captura de pantalla;wayland;
Keywords[fr]=capture d'écran;wayland;
Keywords[it]=screenshot;wayland;
Keywords[nl]=schermafbeelding;wayland;
Keywords[pt]=captura de tela;wayland;
Keywords[zh_CN]=截屏;wayland;
